:root {
  --input-background-color: azure;
}
body {
  margin-bottom: 2rem;
}
h1, h2 {
  margin-left: 1rem;
}

section {
  width: 100vw;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-horizontal {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}

.text-input {
  width: 70%;
  background-color: var(--input-background-color);
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0px solid black;
  border-radius: 4px;
}

.label-check{

  display: flex;
  flex-direction: row;

}

.justify-left {
  align-items: flex-start;
  margin-left: 1rem;
}

.radio-label {
  margin-left: .4rem;
}

.hidden {
  display: none;
}

.text-area-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

