:root {
  --input-background-color: azure;
  --input-width: 80%;
}
body {
  margin-bottom: 4rem;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2 {
  margin-left: 1rem;
}

section {
  width: 100vw;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.check-container {
  margin-left: 1rem;
}

.label-horizontal {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}

.text-input {
  width: var(--input-width);
  background-color: var(--input-background-color);
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}

.longtextinput-container {
  width: 100%;
  margin-left: 1rem;
}

.physicalexamination-container{
  margin-left: 1rem;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  width: 80%;
}

.label-check{
  display: flex;
  flex-direction: row;
}

.radio-container {
  width: 100%;
}

.radio-label {
  margin-left: .4rem;
}

.hidden {
  display: none;
}

.text-area-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

@media (min-width: 601px) {
  /* CSS rules to apply when the screen width is 401 pixels or wider */
  /* Example: */
  main{
    flex-direction: row;
    flex-wrap: wrap;
  }
  section {
    width: 40vw;
  }
}

@media (min-width: 1001px) {
  /* CSS rules to apply when the screen width is 401 pixels or wider */
  /* Example: */
  main{
    flex-direction: row;
    flex-wrap: wrap;
  }
  section {
    width: 30vw;
  }
}
