:root {
  --input-background-color: azure;
  --input-width: 80%;
  --border-radius: 4px;
}

body {
  margin-bottom: 4rem;
  width: 100%;
}

#root {
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2 {
  margin-left: 1rem;
}
p {
  margin: 0;
}
section {
  width: 100vw;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.check-container {
  margin-left: 1rem;
}

.label-horizontal {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}

.text-input {
  width: var(--input-width);
  background-color: var(--input-background-color);
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 8px;
}

.longtextinput-container {
  width: 100%;
  margin-left: 1rem;
}

.physicalexamination-container{
  margin-left: 1rem;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  width: 80%;
}

.label-check{
  display: flex;
  flex-direction: row;
}

.radio-container {
  width: 100%;
}

.radio-label {
  margin-left: .4rem;
}

.hidden {
  display: none;
}

.text-area-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.dots-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.body-part {
  margin-bottom: 2rem;
}

@media (min-width: 1001px) {
  main{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  section {
    width: 100vw;
  }
  .section-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .radio-container {
    width: 40%;
  }

  .dots-container {
    flex-direction: row;
  }

  .body-part {
    margin-right: 1rem;
  }
  
}
